<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<h3><center>Hello World</center></h3>
 <div align="center">
        <style>
           ul {list-style-type: none;margin: 0;padding: 0;width: 200px;background-color: #f1f1f1;}
           li a {display: block;color: #000;padding: 10px 18px;text-decoration: none;}
           li a:hover {background-color: #4CAF50;color: white;}
         </style>
         <h2 style='"Comic Sans MS", cursive, sans-serif;font-size:150%;line-height: 4.5;'>Welcome,</h2>


        <form action="/" style ="line-height: 3">
            <ul>
             <li>Total delay{{totaldelay}}</li>
             <li>Execution Time {{executiontime}}</li>
                <li>Network Delay {{networkdelay}}</li>
         </ul>

      </form>
    </div>

</body>
</html>